.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 722px;
    margin: 40px auto;
    font-family:sans-serif;
}

img{
    width: 25px;
}

.fill-color, .text-color{
    display: flex;
    align-items: center;
}

#fill-color, #text-color{
    margin-left: 5px;
    width: 25px;
}

.bold-text{
    font-weight: bold;
}

.formula .text{
    padding: 5px 5px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#input-formula{
    font-size: 20px;
}


.italic-text{
    font-style: italic;
}

.bar{
    width: 700px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bar button{
    border: none;
    background-color: #ddd;
    color: #555;
    padding: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

#error-message{
    color: #F74F4F;
    font-size: 18px;
    padding:5px 0 20px 0;
    visibility:hidden;
}

.title{
    color: #555;
    font-size: 35px;
    padding-bottom: 30px;
}

.formula{
    padding: 20px 0 0 0;
    width: 722px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input-formula {
    height: 28px;
    flex-grow: 1;
    border: 1px solid #757575;
    border-radius: 5px;
    margin: 0 0 0 10px;
}

#input-submit{
    font-size: 15px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

#input-submit:hover{
    background-color: #ddd;
    transition: 0.3s;
}

#export-btn{
    font-size: 18px;
    background-color: green;
    color: #fff;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px 15px;
    cursor: pointer;
}

#export-btn:hover{
    background-color: darkgreen;
    transition: 0.2s;
}

.cell-row{
    display: flex;
}

.cell{
    font-size: 20px;
    width: 120px;
    height: 60px;
    outline: none;
    border: 1px solid #555;
    box-sizing: border-box;
    background-color: #fff;
}

.cell:focus{
    background-color: #ddd;
}

.cell.header{
    background-color: #ddd;
    text-align: center;
}

.cell.header.active{
    background-color: dodgerblue;
    color: #fff;
}

.cell-active,.cell:focus{
    border: 3px solid dodgerblue;
}



