.container{
    margin: 40px;
    font-family:sans-serif;
}

.bold-text{
    font-weight: bold;
}

.italic-text{
    font-style: italic;
}

.bar{
    border: 1px solid #555;
    display: inline-block;
    padding: 10px;
    background-color: #ddd;
}

.bar button{
    border: none;
    background-color: #ddd;
    color: #555;
    padding: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

#error-message{
    color: #F74F4F;
    font-size: 13px;
    padding: 5px 0 10px 65px;
    visibility: hidden;
}

.title{
    color: #555;
    font-size: 20px;
    padding-bottom: 10px;
}

.formula{
    padding: 10px 0;
}

#export-btn{
    background-color: green;
    color: #fff;
    border: none;
    margin-bottom: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#export-btn:hover{
    background-color: darkgreen;
    transition: 0.2s;
}

.cell-row{
    display: flex;
}

.cell{
    font-size: 15px;
    width: 80px;
    height: 40px;
    outline: none;
    border: 1px solid #555;
    box-sizing: border-box;
    background-color: #fff;
}

.cell:focus{
    background-color: #ddd;
}

.cell.header{
    background-color: #ddd;
    text-align: center;
}

.cell.header.active{
    background-color: dodgerblue;
    color: #fff;
}

.cell-active,.cell:focus{
    border: 3px solid dodgerblue;
}



